
:root {
	font-family: Arial;
}
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: auto;
    position: relative;
    line-height: 1.7;
    --main-blue:#483D8B;
    --main-white: #f9f8fa;
    --main-dark:#292554;
    --secondary-blue:#c4beeb54;
}

