:root {
	font-family: Arial;
}
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: auto;
    position: relative;
    line-height: 1.7;
}

